{%- extends "README.rst.j2" -%}
{% block dependencies %}
Role dependencies
~~~~~~~~~~~~~~~~~

{% for role in dependencies | unique %}
{% if role.startswith('vt.') %}
- :doc:`/roles/{{ role | trim }}/README`
{% else %}
- {{ role | trim }}
{% endif %}
{% endfor %}
{% endblock %}
{% block authors %}{% endblock %}
{% block footer %}{% endblock %}
